<div class="site-loader">

    <!--- Background --->

    <div class="site-loader-bg"></div>

    <!--- Particle --->

    <span class="site-loader-particle site-loader-particle-1"></span>
    <span class="site-loader-particle site-loader-particle-2"></span>
    <span class="site-loader-particle site-loader-particle-3"></span>

    <!--- Content --->

    <div class="site-loader-content">

        <!--- Rings --->

        <div class="site-loader-rings">

            <span class="site-loader-ring site-loader-ring-1"></span>

            <span class="site-loader-ring site-loader-ring-2"></span>

            <span class="site-loader-ring site-loader-ring-3"></span>

            <!--- Logo --->

            <div class="site-loader-logo">

                <img src="assets/images/barnd-logo.png" alt="Logo">

            </div>

        </div>

        <!--- Company --->

        <h2 class="site-loader-title">

            STACKLY

        </h2>

        <!--- Status --->

        <p class="site-loader-status">

            Initializing Experience...

        </p>

        <!--- Progress --->

        <div class="site-loader-progress">

            <div class="site-loader-progress-bar">

                <span></span>

            </div>

            <div class="site-loader-percent">

                0%

            </div>

        </div>

    </div>

</div>