<header>
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">

        <div class="container">

            <!-- HEADER ROW -->

            <div class="d-flex justify-content-between align-items-center w-100">

                <!-- LOGO -->

                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/barnd-logo.png" alt="" class="brand-logo">
                </a>


                <!-- RIGHT ICONS -->

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

            </div>


            <!-- COLLAPSE MENU -->

            <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">

                <ul class="navbar-nav nav-center">

                    <!-- HOME -->

                    <ul class="navbar-nav nav-center">

                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="service.html">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Portfolio.html">Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                    </ul>



                </ul>

                <!-- DESKTOP LOGIN -->

                <a href="login.html"><button class="login-btn d-none d-lg-inline ms-3">
                        Login
                    </button></a>

                <!-- MOBILE LOGIN -->

                <div class="d-lg-none mt-4">
                    <a href="login.html"> <button class="login-btn w-100">
                            Login
                        </button></a>
                </div>

            </div>

        </div>

    </nav>
</header>